<!-- Search form -->
<div class="container">
    <div class="active-pink-4 mb-4 mt-4">
      <input class="form-control form_search" [(ngModel)]="searchValue" autocomplete="off" type="text" 
      placeholder="Search" aria-label="Search" #search (keyup)="onKey($event)">
    </div>
    <ul *ngFor="let list of tabName | searchpipe:searchValue">
      <li class="medname" id="match_list">{{list.itemName}}</li>
      <!--li *ngIf="list.key === 'itemName'">
        <span>{{list.itemName}}</span>
      </li-->
    </ul>
</div><!-- End of Search form -->