<!--div class="container">
    <div class="row">
        <div class="col">
            <h2>Sign In</h2-->
                <!-- Login Form -->
                <!--form>
                    <input type="text" class="form-control form_input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    <input type="password" class="form-control form_input" id="exampleInputPassword1" placeholder="Password">
        
                    
                    <input type="submit" class="btn btn-success btn-lg d-flex justify-content-center d-md-table mx-auto mt-4 mb-2 login" value="Login">
                    <div class="forgot_pwd">
                        <a class="underlineHover mb-2" href="#">Forgot Password?</a>
                        </div>
                    <h5>You don't have an account ?</h5>
                    <input type="submit" [routerLink]="'/registration'" class="btn btn-success btn-lg d-flex justify-content-center d-md-table mx-auto mt-4 mb-4 register" value="Register">
                </form>
            
        </div>
    </div>
</div-->
<div class="container-fluid">
    <div class="" style="margin-top:75px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h2 class="text-dark">Sign in</h2>
                </div>
                <div class="p-4">
                    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-success"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input formControlName="fullname" type="text" class="form-control" placeholder="Username">
                        </div>
                        <!--div class="input-group mb-3">
                            <span class="input-group-text bg-success"><i
                                    class="bi bi-envelope text-white"></i></span>
                            <input type="email" class="form-control" placeholder="Email">
                        </div-->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-success"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input formControlName="password" type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-success" type="submit"><span></span> Sign in</button>
                        </div>
                        <h3 class="text-center mt-3">New User?
                            <a routerLink="/registration"><span class="text-dark">Sign up</span></a>
                        </h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>