.form_input{
    border-radius: 33px;
    border: 1px solid #21252924;
    background-color: #f9f9f9;
    margin: 2rem 0rem 2rem 0rem;
}
.forgot_pwd{
    text-align: center;
}
h5{text-align: center;}
.login{
    border-radius: 25px;
    width: 50%;
}
.register{
    border-radius: 25px;
    width: 50%;
}